<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ken_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>ken_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>ken_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>ken_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>ken_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>ken_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
            <key>ken_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{70,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{70,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obj.png</string>
            <key>size</key>
            <string>{490,110}</string>
            <key>textureFileName</key>
            <string>obj.png</string>
            <key>smartupdate</key>
            <string>1</string>
        </dict>
    </dict>
</plist>